@import '../../styles/index.scss';

.exercise1 {
  display: flex;
  align-items: flex-start;
  padding: 2.5rem 0;
  width: calc(100% + 1.2rem);
  margin: 0 -0.6rem;
  @include tablet {
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 2rem 0;
  }

  .paragraph-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
    padding: 1.8rem;
    background-color: $color-light;
    margin: 0.6rem;
    @include tablet {
      width: 100%;
      margin: 0.6rem 0;
    }
    p {
      font-size: 1.2rem;
      line-height: 1.8rem;
      margin-bottom: 1rem;
    }

    .extra-paragraph {
      overflow: hidden;
      @include transition(300);
      height: 0;
    }
  }
}
