$color-white: #ffffff;
$color-black: #000000;
$color-primary: #e7a736;
$color-secondary: #162e4c ;

$color-light : #e4e4e4;
$color-dark : #525252;

$font-base: "FuturaPT", sans-serif;
$font-title: "FuturaPT", sans-serif;


$desktop-narrow-width: 1200px;
$tablet-width: 992px;
$phone-width: 767px;
